.logo {
  margin-left: 10px;
  max-height: 50px;
  max-width: 50px;
  height: auto;
  width: auto;
}

.navbar {
  filter: drop-shadow(0 0 0.2rem black);
  background: #FFFFFF;
}

.bg {
  background: linear-gradient(180deg, #1488CC 25%, #2B32B2 75%);
  position:absolute;
  height: 100%;
  width: 100%;
}

.container {  
  filter: drop-shadow(0 0 0.2rem white);
  background: white;
  border-radius: 30px;
  text-align: center;
  margin-top: 2rem;
}

.title {
  font-weight: bold;
  size: 64px;
}

/* VERIFICAR COMO BOTAR DEGRADÊ EM TEXTO */
.appName {
  background: -webkit-linear-gradient(#1488CC, #2B32B2);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.form {
  justify-content: center;
}

.form-floating {
  margin-left: 30%;
  width: 40%;
}

input[type="text"] {
  justify-content: center;
  margin: 10px;
}

input[type="text"]:focus {
  filter: drop-shadow(0 0 0.5rem #1488CC);
  border-color: #2B32B2;
  box-shadow: none;
}

.btn-group {
  margin: 10px;
  gap: 10px;
}

.btn-primary:focus {
  filter: drop-shadow(0 0 0.5rem #1488CC);
  box-shadow: none;
  color: white;
}

.btn-outline-dark:focus {
  filter: drop-shadow(0 0 0.5rem black);
  background-color: black;
  box-shadow: none;
  color: white;
}